section.section--font.dogovor
  .container
    .row
      .col-md-6.col-sm-12
        //- .dogovor__img
          //- img(src="./assets/img/dogovor.png", alt="")
      .col-md-6.col-sm-12
        .dogovor-content
          h2.ur--title.dogovor__title У нас прозрачный договор. Ознакомьтесь и будьте уверены!
          hr.ur--line.dogovor__line
          p.dogovor__desc Начав работать с нами, вы получите максимально грамотную  консультацию, доверенную информацию и правильно оформленную процедуру банкротства физ. лиц в Москве.
          ul.dogovor-list
            li.dogovor-list__item Полностью несем ответственность за всю процедуру банкротства,  так как сами ее ведем.
            li.dogovor-list__item Расскажем всю правду, как правильно сохранить все имущество и избежать негативных последствий.
            li.dogovor-list__item Подберем для вас удобную систему рассрочки платежей, чтобы вам было комфортно.
          a(href="#").btn.btn_fill.ur-btn--margin.dogovor__btn Скачать договор