section.section--font.long-proc
  .container
    h2.ur--title.ur--title-md.long-proc__title Почему не стоит затягивать процедуру банкротства?
    hr.ur--line.long-proc__line
    p.ur--subtitle.long-proc__subtitle Мы точно знаем, как именно нужно действовать в сложных ситуация, а за годы работы столкнулись с рядом заблуждений
    .row
      .col-md-6
        .long-proc-item.long-proc-item--cancel
          p.long-proc-item__title.long-proc-item__title--cancel Если ваши кредиторы  подадут иск первыми:
          ul.long-proc-item-text
            li.long-proc-item__point В отношении вас начнется  судебное разбирательство
            li.long-proc-item__point В отношении вас начнется  судебное разбирательство
            li.long-proc-item__point В отношении вас начнется  судебное разбирательство
          .long-proc-item__img
            img(src="./assets/img/bancrot/cancel.png", alt="")
      .col-md-6
        .long-proc-item.long-proc-item--ok
          p.long-proc-item__title Если мы первыми инициируем  банкротство:
          ul.long-proc-item-text
            li.long-proc-item__point В отношении вас начнется  судебное разбирательство
            li.long-proc-item__point В отношении вас начнется  судебное разбирательство
            li.long-proc-item__point В отношении вас начнется  судебное разбирательство
          .long-proc-item__img
            img(src="./assets/img/bancrot/ok.png", alt="")