section.section--font.pickUs
  .container
    .row
      .col-md-5
        .pickUs__img
          img(src="./assets/img/pickUs/pickUs.png", alt="")
      .col-md-7
          h2.pickUs__title Почему мы ?
          hr.ur--line.pickUs__line
          .pickUs-advantages
            .pickUs-advantages-item-wrap
              .pickUs-advantages-item
                .pickUs-advantages-item__img
                  img(src="./assets/img/pickUs/libra.png", alt="")
                p.pickUs-advantages-item__desc 8 лет успешной  юридической практики
                hr.ur--line.pickUs-advantages-item__line
            .pickUs-advantages-item-wrap
              .pickUs-advantages-item
                .pickUs-advantages-item__img
                  img(src="./assets/img/pickUs/hammer.png", alt="")
                p.pickUs-advantages-item__desc Более 720 успешно  закрытых дел
                hr.ur--line.pickUs-advantages-item__line
            .pickUs-advantages-item-wrap
              .pickUs-advantages-item
                .pickUs-advantages-item__img
                  img(src="./assets/img/pickUs/location.png", alt="")
                p.pickUs-advantages-item__desc Ведем юридическую  деятельность в 200 городах
                hr.ur--line.pickUs-advantages-item__line
            .pickUs-advantages-item-wrap
              .pickUs-advantages-item
                .pickUs-advantages-item__img
                  img(src="./assets/img/pickUs/team.png", alt="")
                p.pickUs-advantages-item__desc Более 270 профессиональных  юристов в нашей компании
                hr.ur--line.pickUs-advantages-item__line