section.section--font.similar-sit
  .container
    h2.ur--title.similar-sit__title У вас похожая ситуация?
    hr.ur--line.similar-sit__line
    p.ur--subtitle.similar-sit__subtitle Рассчитайте МИНИМАЛЬНУЮ стоимость банкротства конкретно в вашем
    .row.similar-sit__row
      .col-md-6
        .similar-sit-item
          .similar-sit-item__img
            img(src="./assets/img/simlrSituations/1.png", alt="")
          .similar-sit-item-text
            p.similar-sit-item__title Банк подает в суд?
            p.similar-sit-item__subtitle Угрожают исками и продажей  вашего имущества?
      .col-md-6 
        .similar-sit-item
          .similar-sit-item__img
            img(src="./assets/img/simlrSituations/2.png", alt="")
          .similar-sit-item-text
            p.similar-sit-item__title Звонят коллекторы?
            p.similar-sit-item__subtitle Угрожают исками и продажей  вашего имущества? копия
      .col-md-6
        .similar-sit-item
          .similar-sit-item__img
            img(src="./assets/img/simlrSituations/3.png", alt="")
          .similar-sit-item-text
            p.similar-sit-item__title Не можете платить?
            p.similar-sit-item__subtitle Угрожают исками и продажей  вашего имущества? копия 2
      .col-md-6
        .similar-sit-item
          .similar-sit-item__img
            img(src="./assets/img/simlrSituations/4.png", alt="")
          .similar-sit-item-text
            p.similar-sit-item__title Потеряли работу?
            p.similar-sit-item__subtitle Угрожают исками и продажей  вашего имущества? копия 2