section.section--font.ur-cons.ur-cons--book
  .container
    .ur-cons-body
      h3.ur--title.ur-cons__title Запишитесь на бесплатную  online- консльтацию
      hr.ur--line.ur-cons__line
      p.ur-cons__subtitle Перезвоню через 1 минуту и отвечу  на любые вопросы по списанию
      form.ur-cons-form
        input(type="text" placeholder="Ваше имя").ur-cons-form__input
        input(type="text" placeholder="Ваш телефон").ur-cons-form__input
        button(type="submit").btn.btn_fill.ur-btn--margin.ur-cons-form__btn отправить заявку
      p.ur-cons__pers-data Нажимая на кнопку «Отправить заявку», я даю согласие  на обработку персональных данных
    .ur-cons__img
      //- .ur-cons-side