extends ../layouts/_main-page.pug
block sections
  include ../includes/_urForm1.pug
  include ../includes/_urForm2.pug
  include ../includes/_sameSit.pug
  include ../includes/_long-proc.pug
  include ../includes/_pickUs.pug
  include ../includes/_dogovor.pug